html {
  box-sizing: border-box;
  font-family: Georgia;
}

*,
*::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  justify-content: flex-start;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  padding: 1.5rem 1rem;
  font-family: "Patua One", sans-serif;
}

.pano {
  grid-area: banner;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "col1 col2";
  gap: 1rem;
}

ul {
grid-area: banner;
align-self: end;
color: #fff;
padding: 1.5rem 1rem;
}

li {
  display: inline;
}

h2 {
  font-family: 'Patua One', sans-serif;
  color: #30658d;
}
