html {
  box-sizing: border-box;
  font-family:
}

*,
*::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 1rem
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  padding: 1.5rem 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "col1 col2";
  gap: 1rem;
}

.banner {
  grid-area: banner;
}

.presentation {

}
